<div class="container">

    <div class="col-12 d-flex justify-content-end mt-4 gap-3">
        <button type="button" class="btn btn-primary" routerLink="/bill">Create Bill</button>
        <button type="button" class="btn" style="background-color: #ae59f0;color: white;">Add New User</button>
    </div>
<!-- Action Button ends here -->

<div class="products" *ngFor="let section of productSectionList">
<app-section-model [sectionTitle]="section" [ItemList]="productList" ></app-section-model>
</div>

<!-- products ends here -->
</div>