<div class="container d-flex flex-column gap-4 mt-4 text-center">

    <h2>Welecome to Warehouse</h2>

    <div class="option col-12 p-2 d-flex gap-4 align-items-center">
       

        <select class="form-select form-select-lg  w-25 text-center" aria-label="Large select example">
            <option value="available" selected>In Stoock</option>
            <option value="notAvailable">Out Of Stock</option>
          </select>
          <button type="button" class="btn btn-secondary ml-4">Fetch Product</button>
          <!-- drop down ends here -->
          <a [routerLink]="['/product']"><button type="button" class="btn btn-success" >Add New Product</button></a>
          <button type="button" class="btn btn-primary">Manage Product</button>

          
    </div>
    <hr>
    <div class="product-container" >
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
        <app-ware-house-product-card></app-ware-house-product-card>
    </div>
</div>