<div class="product-card d-flex flex-column justify-content-evenly">
    <div class="img-sec">
        <img src="https://gogarden.co.in/cdn/shop/files/71yg6hRnpTL._SL1200_fac2b8e7-208b-482d-9493-07d03daaff6f.jpg?v=1684132066" alt="" loading="lazy">
    </div>
    <div class="actions d-flex align-items-center ">
        <div class="text-sec px-2">
            <p style="font-size: 1rem; font-weight: 400;margin: 0;color: rgb(0, 0, 0);">UREA</p>
            <Small style="color: gray;">Qty. 5</Small>
        </div>
        <button class="btn btn-primary" style="font-size: 0.8rem;margin: 3px;">Update</button>
    </div>
</div>
